<mat-toolbar>
    <p>Mis Contactos</p>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-table [dataSource]="dataSource" id="tarifasTable">
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let contacto"> {{ contacto.nombre }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
    <mat-cell *matCellDef="let contacto"> {{ contacto.telefono }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let contacto"> 
            <button mat-raised-button color="warn" (click)="eliminar(contacto)">eliminar</button>
    </mat-cell>
  </ng-container>

</mat-table>

<button mat-fab color="primary" style="float: right" id="contactoAgregarBtn" routerLink="/contacto/nuevo">
  <mat-icon>add</mat-icon>
</button>
